<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>App.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>8EDECFD46AA2840BD5CB7E066F33390B0D6C1777</string>
				<key>dateExpires</key>
				<string>8/10/27</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8EDECFD46AA2840BD5CB7E066F33390B0D6C1777</string>
						<key>dateExpires</key>
						<string>8/10/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Capacitor.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>29VV27HDN5</string>
						<key>name</key>
						<string>Nikolay Sapoundjiev</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8EDECFD46AA2840BD5CB7E066F33390B0D6C1777</string>
						<key>dateExpires</key>
						<string>8/10/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Cordova.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>29VV27HDN5</string>
						<key>name</key>
						<string>Nikolay Sapoundjiev</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>29VV27HDN5.com.lumensocialite.app</string>
				<key>com.apple.developer.team-identifier</key>
				<string>29VV27HDN5</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>App.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c9bd9e53-d134-4323-9a63-cfd76edd6f9d</string>
				<key>dateExpires</key>
				<string>8/14/27</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.lumensocialite.app</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>29VV27HDN5</string>
				<key>name</key>
				<string>Nikolay Sapoundjiev</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
